<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spAmazing Aesthetic Clinic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
<!-- Hero Images -->  
<div class="hero-images">
    <img src="{{ url_for('static', filename='images/picture1.jpg') }}" alt="">
    <img src="{{ url_for('static', filename='images/picture2.jpg') }}" alt="">
    <img src="{{ url_for('static', filename='images/picture3.jpg') }}" alt="">
    <img src="{{ url_for('static', filename='images/picture4.jpg') }}" alt="">
</div>


<!-- Navigation -->
<header class="navbar">

    <div class="logo">
        <img src="{{ url_for('static', filename='images/ICON AND NAME PEACH& WHITE.png') }}" alt="Spa Logo">
    </div>

    <nav>

        <a href="{{ url_for('home') }}" >
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>

        <a href="{{ url_for('shop') }}">
            <i class="fa-solid fa-bag-shopping"></i>
            <span>Shop</span>
        </a>

        <a href="{{ url_for('dashboard') }}" class="active">
            <i class="fa-solid fa-image"></i>
            <span>Dashboard</span>
        </a>

        <a href="{{ url_for('contact') }}">
            <i class="fa-solid fa-phone"></i>
            <span>Contact</span>
        </a>

    </nav>

    <div class="nav-buttons">

        <a href="{{ url_for('book') }}" class="login-btn">
            <i class="fa-solid fa-calendar-check"></i>
            Book Now
        </a>

        <a href="#" class="login-btn" id="loginBtn">
            <i class="fa-solid fa-user"></i>
            Login
        </a>

    </div>

</header>
    

 <!-- ================= LOGIN MODAL ================= -->
<div id="loginModal" class="login-modal">

    <div class="login-modal-content">

        <!-- Close Button -->
        <span class="close-login">&times;</span>

        <!-- Left Side -->
        <div class="login-left">

            <img src="{{ url_for('static', filename='images/picture1.jpg') }}" alt="Spa">

            <div class="left-content">

                <i class="fa-solid fa-lock"></i>

                <h2>Secure Booking Access</h2>

                <ul>
                    <li><i class="fa-solid fa-check"></i> Book appointments online</li>
                    <li><i class="fa-solid fa-check"></i> View booking history</li>
                    <li><i class="fa-solid fa-check"></i> Earn loyalty rewards</li>
                    <li><i class="fa-solid fa-check"></i> Manage treatments</li>
                </ul>

            </div>

        </div>

        <!-- Right Side -->
        <div class="login-right">

            <img src="{{ url_for('static', filename='images/ICON AND NAME PEACH& WHITE.png') }}" class="modal-logo">

            <h1>Welcome Back</h1>

            <p>
                Sign in to manage appointments,
                view bookings and enjoy VIP rewards.
            </p>

            <form>

                <div class="input-box">
                    <i class="fa-regular fa-user"></i>
                    <input
                        type="email"
                        placeholder="Email Address"
                        required>
                </div>

                <div class="input-box">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        id="password"
                        placeholder="Password"
                        required>

                    <i class="fa-solid fa-eye eye-icon"
                       id="togglePassword"></i>

                </div>

                <div class="login-options">

                    <label>
                        <input type="checkbox">
                        Remember Me
                    </label>

                    <a href="#">Forgot Password?</a>

                </div>

                <button class="login-button">
                    LOGIN
                </button>

                <div class="or">
                    OR
                </div>

                <button type="button" class="guest-button">
                    <i class="fa-regular fa-user"></i>
                    Continue As Guest
                </button>

                <p class="register-text">

                    Don't have an account?

                    <a href="#" id="openRegister">
                        Register Here
                    </a>

                </p>

            </form>

        </div>

    </div>

</div>

<div id="registerModal" class="modal">

    <div class=" register-box">

        <span class="close-register">&times;</span>

        <h2>Create Account</h2>

        <form>

            <input type="text" placeholder="Full Name">

            <input type="email" placeholder="Email Address">

            <input type="tel" placeholder="Phone Number">

            <input type="password" placeholder="Password">

            <input type="password" placeholder="Confirm Password">

            <button type="submit">
                REGISTER
            </button>

        </form>

        <p>
            Already have an account?
            <a href="#" id="backToLogin">
                Login Here
            </a>
        </p>

    </div>

</div>


<script>



function openService(title, description, price, duration){

    document.getElementById("serviceTitle").innerText = title;
    document.getElementById("serviceDescription").innerText = description;
    document.getElementById("servicePrice").innerText = price;
    document.getElementById("serviceDuration").innerText = duration;

    document.getElementById("serviceModal").style.display = "block";
}

function closeService(){
    document.getElementById("serviceModal").style.display = "none";
}

// LOGIN MODAL

const loginModal = document.getElementById("loginModal");

const loginBtn = document.getElementById("loginBtn");

const closeLogin = document.querySelector(".close-login");

loginBtn.onclick = function(e){

    e.preventDefault();

    loginModal.style.display = "flex";

}

closeLogin.onclick = function(){

    loginModal.style.display = "none";

}

window.onclick = function(event){

    if(event.target == loginModal){

        loginModal.style.display = "none";

    }

}

// PASSWORD SHOW / HIDE

const password = document.getElementById("password");

const togglePassword = document.getElementById("togglePassword");

togglePassword.onclick = function(){

    if(password.type === "password"){

        password.type = "text";

        this.classList.remove("fa-eye");

        this.classList.add("fa-eye-slash");

    }

    else{

        password.type = "password";

        this.classList.remove("fa-eye-slash");

        this.classList.add("fa-eye");

    }

}


const registerModal = document.getElementById("registerModal");

const openRegister = document.getElementById("openRegister");
const backToLogin = document.getElementById("backToLogin");

openRegister.addEventListener("click", function(e){

    e.preventDefault();

    loginModal.style.display = "none";

    registerModal.style.display = "flex";

});

backToLogin.addEventListener("click", function(e){

    e.preventDefault();

    registerModal.style.display = "none";

    loginModal.style.display = "flex";

});

const closeRegister = document.querySelector(".close-register");

closeRegister.onclick = function () {
    registerModal.style.display = "none";
};

</script>



</body>
</header>
    